#printSaveTable {
  width: 100%;
  table-layout: fixed;
}

#printSaveTable tr > td {
  text-align: center;
}

#printSaveTable .pageContainer {
  display: inline-block;
}

#printSaveTable .pageContainer > div {
  text-align: left;
}

#printSaveTable .pageThumbTitle {
  padding-left: 9px;
}

#printSaveTable .dlSizeContainer {
  display: flex;
  padding-left: 9px;
  font-size: 12px;
}

#printSaveTable .dlSizeContainer > .dlSize {
  margin-left: 5px;
}

#printSaveTable .dlSizeContainer > svg {
  margin: 0;
}